.low-usage {
  color: green;
  border: thin solid black;
  text-align: center;
  width: 95px;
}

.medium-usage {
  color: orange;
  border: thin solid black;
  text-align: center;
  width: 95px;
}

.high-usage {
  color: red;
  border: thin solid black;
  text-align: center;
  width: 95px;
}

/*div#background {*/
  /*background-image: url('public/images/background_test.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  height: 300px;
  width: 300px;
}*/

div#container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border: solid green 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*#temperature {
  margin-left: auto;
  margin-right: auto;
}*/